parameters:
    level: 8
    paths:
        - src
        - tests
    type_coverage:
        return: 100
        param: 98 # because of resource
        property: 100

includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/tomasvotruba/type-coverage/config/extension.neon
